In [10]:
import pandas as pd
import numpy as np

In [11]:
ds = pd.read_csv("../DataSheets/spam.csv")

In [12]:
ds

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [13]:
ds.Category.value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [14]:
def myFun(x):
    if x == 'spam':
        return 1
    else:
        return 0

In [15]:
# ds['spam'] = ds['Category'].apply(myFun)


ds['spam'] = ds['Category'].apply(lambda x: 1 if x=='spam' else 0)

In [16]:
ds.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [1]:
print("Hello world")

Hello world