In [26]:
import pandas
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [5]:
ds = pandas.read_csv('Datasheets/company profit.csv')

In [6]:
ds.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

# Encoding

In [7]:
dummy = pandas.get_dummies(ds.Area, drop_first=True)

In [8]:
ds = pandas.concat([ds, dummy], axis=1)

In [9]:
ds = ds.drop('Area', axis=1)

In [11]:
ds.head()

   Marketing Spend  Administration  Transport     Profit  Dhaka  Rangpur
0        114523.61       136897.80  471784.10  192261.83      1        0
1        162597.70       151377.59  443898.53  191792.06      0        0
2        153441.51       101145.55  407934.54  191050.39      0        1
3        144372.41       118671.85  383199.62  182901.99      1        0
4        142107.34        91391.77  366168.42  166187.94      0        1

# Train

In [13]:
y = ds.Profit

In [15]:
x = ds.drop('Profit', axis=1)

In [46]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.25, random_state=0)

In [47]:
ytest

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
33     96778.92
35     96479.51
26    105733.54
Name: Profit, dtype: float64

In [48]:
reg = LinearRegression().fit(xtrain, ytrain)

In [49]:
pred = reg.predict(xtest)

In [50]:
pred

array([103501.0825284 , 128011.28068627, 126695.43891127,  70573.91718775,
       173381.96874259, 124238.07860872,  69298.09250304,  98399.41936876,
       116419.1480864 , 161430.98134847,  94740.73303076,  89920.22800514,
       105956.86065332])

In [51]:
score = r2_score(ytest, pred)

In [52]:
score

0.8840978623923473