In [1]:
import pandas
import numpy
from sklearn import tree
from sklearn.metrics import r2_score
from sklearn.metrics import confusion_matrix

In [2]:
ds = pandas.read_csv('Datasheets/Maternal Health Risk Data Set.csv')

In [3]:
ds.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [4]:
x = ds.iloc[:, :6]

In [5]:
y = ds.iloc[:, -1]

In [6]:
y.head()

0    high risk
1    high risk
2    high risk
3    high risk
4     low risk
Name: RiskLevel, dtype: object

In [7]:
y = pandas.get_dummies(y)

In [8]:
y

      high risk  low risk  mid risk
0             1         0         0
1             1         0         0
2             1         0         0
3             1         0         0
4             0         1         0
...         ...       ...       ...
1009          1         0         0
1010          1         0         0
1011          1         0         0
1012          1         0         0
1013          0         0         1

[1014 rows x 3 columns]

In [9]:
tree = tree.DecisionTreeClassifier().fit(x,y)

In [16]:
pred = tree.predict([[40, 150, 50, 30.0, 4.0, 109]])

In [17]:
pred

array([[1, 0, 0]], dtype=uint8)