In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
ds = pd.read_csv('../../DataSheets/Area_Price.csv')
ds

   Area   Price
0  2600   55000
1  3000   56500
2  3200   61000
3  3600   68000
4  4000   72000
5  5000   71000
6  2500   40000
7  2700   38000
8  1200   17000
9  5000  100000

In [13]:
def gradient_descent(x, y):
    x = np.array(x)
    y = np.array(y)
    m = b = 0
    learning_rate = 0.01
    for i in range(10):
        y_predict = m*x + b
        costFun = 1/len(x) * sum([j*j for j in (y - y_predict)])
        dm = 2/len(x) * sum([j for j in (-x*(y-y_predict))])
        db = 2/len(x) * sum([k for k in (-(y-y_predict))])
        m = m - learning_rate*dm
        b = b - learning_rate*db
        print('m {}, b {}, cost {} iteration {}'.format(m, b, costFun, i))

In [14]:
gradient_descent([1,2,3,4,5], [5,7,9,11,13])

m 0.62, b 0.18, cost 89.0 iteration 0
m 1.0928, b 0.3192, cost 52.25039999999999 iteration 1
m 1.453232, b 0.42724799999999996, cost 30.831949440000002 iteration 2
m 1.7278860800000002, b 0.5115091199999999, cost 18.347751350784 iteration 3
m 1.9370605952000002, b 0.5776057727999999, cost 11.070010749324897 iteration 4
m 2.096250917888, b 0.6298300216319999, cost 6.826353152519786 iteration 5
m 2.2172859146547204, b 0.6714583661260799, cost 4.350826141683065 iteration 6
m 2.309195511463117, b 0.7049920439242751, cost 2.9056952040975976 iteration 7
m 2.3788729763057748, b 0.7323404723580026, cost 2.0610450731046615 iteration 8
m 2.431580493177024, b 0.7549612843324961, cost 1.5663423003130599 iteration 9