In [26]:
import pandas
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [5]:
ds = pandas.read_csv('Datasheets/company profit.csv')

In [6]:
ds.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

# Encoding

In [7]:
dummy = pandas.get_dummies(ds.Area, drop_first=True)

In [8]:
ds = pandas.concat([ds, dummy], axis=1)

In [9]:
ds = ds.drop('Area', axis=1)

In [11]:
ds.head()

   Marketing Spend  Administration  Transport     Profit  Dhaka  Rangpur
0        114523.61       136897.80  471784.10  192261.83      1        0
1        162597.70       151377.59  443898.53  191792.06      0        0
2        153441.51       101145.55  407934.54  191050.39      0        1
3        144372.41       118671.85  383199.62  182901.99      1        0
4        142107.34        91391.77  366168.42  166187.94      0        1

# Train

In [13]:
y = ds.Profit

In [15]:
x = ds.drop('Profit', axis=1)

In [20]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.20, random_state=0)

In [24]:
ytest

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
Name: Profit, dtype: float64

In [22]:
reg = LinearRegression().fit(xtrain, ytrain)

In [28]:
pred = reg.predict(xtest)

In [29]:
pred

array([103041.93019584, 128255.24514289, 126922.75723244,  71221.31157266,
       173705.4106333 , 124824.61560479,  70488.40325151,  98535.73506129,
       116684.02101869, 161845.22370375])

In [30]:
score = r2_score(ytest, pred)